#main-content {
    display: flex;
    gap: 74px;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    background-color: var(--secondary-light);
    border-radius: 10px;
    padding: 32px 62px;
    height: 100%;
}

.menu-content h3 {
    font-size: 32px;
    font-weight: 500;
    color: var(--green-color-medium);
}

.menu-content ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-content ul li a {
    font-size: 22px;
    font-weight: 300;
    color: var(--secondary-dark);
    text-decoration: none;
}

.menu-content ul li a:hover {
    text-decoration: underline;
}

.content {
    width: 766px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.content audio {
    width: 100%;
}

.capitulo {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 766px;
}

.capitulo h2 {
    font-size: 64px;
    font-weight: bold;
    color: var(--green-color-medium);
}

.capitulo h3 {
    font-size: 48px;
    font-weight: bold;
    color: var(--green-color-medium);
}

.capitulo p,
.capitulo li {
    font-size: 36px;
    font-weight: 500;
    color: var(--primary-dark);
    text-align: justify;
}

.capitulo div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Mobile */

@media screen and (min-width: 320px) and (max-width: 374px) {
}

@media screen and (min-width: 375px) and (max-width: 424px) {
}

@media screen and (min-width: 425px) and (max-width: 767px) {
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
}

/* Desktop */

@media screen and (min-width: 1280px) and (max-width: 1439px) {
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
}

@media screen and (min-width: 1920px) and (max-width: 1921px) {
}

@media screen and (min-width: 1921px) {
}